In [10]:
import pandas as pd
import os
import csv


first_file = "Data_1_Kaggle.csv"
Data_1_df = pd.read_csv(first_file)


second_file = "Data_2_Kaggle.csv"
Data_2_df = pd.read_csv(second_file)

In [11]:
# Data_1_df.head()

In [12]:
# Data_1_df.columns

In [13]:
Data_1_df.drop(columns=['Unnamed: 0'])

,Life Status,Airbag Available,Seatbelt in Use,Gender,Age of Occ,Accident Year,Vehicle Year,Airbag Deploy,Occ Role
0,alive,none,belted,f,26,1997,1990.0,unavail,driver
1,alive,airbag,belted,f,72,1997,1995.0,deploy,driver
2,alive,none,none,f,69,1997,1988.0,unavail,driver
3,alive,airbag,belted,f,53,1997,1995.0,deploy,driver
4,alive,none,belted,f,32,1997,1988.0,unavail,driver
...,...,...,...,...,...,...,...,...,...
26212,alive,none,belted,m,17,2002,1985.0,unavail,driver
26213,alive,airbag,belted,m,54,2002,2002.0,nodeploy,driver
26214,alive,airbag,belted,f,27,2002,1990.0,deploy,driver
26215,alive,airbag,belted,f,18,2002,1999.0,deploy,driver
26216,alive,airbag,belted,m,17,2002,1999.0,deploy,pass

In [14]:
# Data_2_df

In [15]:
combined_df = pd.concat([Data_1_df, Data_2_df])

# combined_df

In [16]:
crashes_df = combined_df.drop(columns='Unnamed: 0')

In [17]:
crashes_df

,Life Status,Airbag Available,Seatbelt in Use,Gender,Age of Occ,Accident Year,Vehicle Year,Airbag Deploy,Occ Role
0,alive,none,belted,f,26,1997,1990.0,unavail,driver
1,alive,airbag,belted,f,72,1997,1995.0,deploy,driver
2,alive,none,none,f,69,1997,1988.0,unavail,driver
3,alive,airbag,belted,f,53,1997,1995.0,deploy,driver
4,alive,none,belted,f,32,1997,1988.0,unavail,driver
...,...,...,...,...,...,...,...,...,...
17560,alive,airbag,belted,m,28,2002,1997.0,deploy,driver
17561,alive,none,belted,f,39,1998,1987.0,unavail,driver
17562,alive,airbag,belted,f,29,1997,1988.0,deploy,driver
17563,alive,none,none,f,22,2000,1990.0,unavail,driver
17564,alive,none,belted,m,19,2002,1987.0,unavail,pass

In [24]:
crashes_df = crashes_df.rename(columns={"Life Status": "Life_Status", "Airbag Available": "Airbag_Available", "Seatbelt in Use": "Seatbelt_Use", "Age of Occ": "Occ_Age", "Accident Year": "Year", "Vehicle Year": "Model_Year", "Airbag Deploy": "Airbag_Deployed", "Occ Role": "Occ_Role"})

In [27]:
crashes_df

,Life_Status,Airbag_Available,Seatbelt_Use,Gender,Occ_Age,Year,Model_Year,Airbag_Deployed,Occ_Role
0,alive,none,belted,f,26,1997,1990.0,unavail,driver
1,alive,airbag,belted,f,72,1997,1995.0,deploy,driver
2,alive,none,none,f,69,1997,1988.0,unavail,driver
3,alive,airbag,belted,f,53,1997,1995.0,deploy,driver
4,alive,none,belted,f,32,1997,1988.0,unavail,driver
...,...,...,...,...,...,...,...,...,...
17560,alive,airbag,belted,m,28,2002,1997.0,deploy,driver
17561,alive,none,belted,f,39,1998,1987.0,unavail,driver
17562,alive,airbag,belted,f,29,1997,1988.0,deploy,driver
17563,alive,none,none,f,22,2000,1990.0,unavail,driver
17564,alive,none,belted,m,19,2002,1987.0,unavail,pass

In [ ]:
crashes_df.to_csv('combined_data.csv', index = False)